@import 'ant-design-vue/dist/reset.css';
@import './variables.scss';
@import './form.scss';
@import './button.scss';
@import './modal.scss';

body {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
}