.modal {
  &__title {
    font-size: 28px;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 13px;
  }
  &__description {
    font-size: 14px;
    color: $text-color-gray;
    margin-bottom: 24px;
  }
  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }
  &__close {
    align-self: flex-end;
    border: none;
    background: none;
  }
}
