<template>
  <AModal
    :visible="visible"
    :closable="false"
    :footer="null"
    class="form"
    width="628px"
    @cancel="handleCancel"
  >
    <div class="modal__header">
      <button class="modal__close" @click="handleCancel">
        <Icon name="material-symbols-light:close" size="28" />
      </button>
    </div>

    <p class="modal__title">Форма обратной связи</p>
    <p class="modal__description">
      Мы всегда готовы ответить на любой вопрос, а также услышать ваши отзывы и
      предложения по работе нашего сервиса
    </p>

    <AForm :model="form" :rules="formRules" @finish="sendFormFeedback">
      <AFlex gap="middle" justify="space-between" align="center">
        <AFormItem class="form__item" name="name">
          <AInput
            v-model:value="form.name"
            placeholder="Ваше имя"
            size="large"
          />
        </AFormItem>

        <AFormItem class="form__item" name="email">
          <AInput
            v-model:value="form.email"
            placeholder="E-mail"
            size="large"
          />
        </AFormItem>
      </AFlex>

      <AFlex gap="middle" justify="space-between" align="center">
        <AFormItem class="form__item" name="phone">
          <AInput
            v-model:value="form.phone"
            type="tel"
            placeholder="Телефон"
            size="large"
          />
        </AFormItem>

        <AFormItem class="form__item" name="city">
          <AInput v-model:value="form.city" placeholder="Город" size="large" />
        </AFormItem>
      </AFlex>

      <AFormItem name="type">
        <ASelect
          v-model:value="form.type"
          placeholder="Inserted are removed"
          size="large"
        >
          <!-- :options="types" -->
          <ASelectOption
            class="form__option"
            v-for="type in types"
            :key="type.value"
            :value="type.value"
          >
            {{ type.label }}
          </ASelectOption>
        </ASelect>
      </AFormItem>

      <AFormItem name="message">
        <ATextarea
          v-model:value="form.message"
          placeholder="Опишите ваш вопрос"
          :rows="4"
        />
      </AFormItem>

      <AFormItem name="file">
        <AUploadDragger
          v-model:file-list="form.file"
          name="file"
          accept=".doc, .pdf"
          :max-count="1"
          :before-upload="handleBeforeUpload"
          action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          @change="handleChange"
          @drop="handleDrop"
        >
          <div class="form__accept">
            <span class="link"> Выберите файл </span>
            <span class="grey-dark"> или перетащите его в поле </span>
            <p class="grey-light">DOC, PDF до 5Мб</p>
          </div>
        </AUploadDragger>
      </AFormItem>

      <AFormItem class="form__accept" name="is_terms_accepted">
        <ACheckbox v-model:checked="isTermsAccepted" size="large">
          <span>Согласен с условиями</span>
          <a class="link" :href="PRIVACY_POLICY_LINK" target="_blank">
            политики обработки персональных данных
          </a>
        </ACheckbox>
      </AFormItem>

      <AFormItem>
        <div class="form__footer">
          <AButton
            type="primary"
            html-type="submit"
            :disabled="!isTermsAccepted"
          >
            Отправить
          </AButton>
        </div>
      </AFormItem>
    </AForm>
  </AModal>
</template>

<script setup lang="ts">
import type { Rule } from "ant-design-vue/es/form";
// import { message } from "ant-design-vue";
// import { v4 as uuidv4 } from "uuid";

import {
  vvPhone,
  vvEmail,
  vvRequired,
  formatPhoneNumber,
} from "@/utils/validators";
import {
  handleChange,
  cleanForm,
  handleBeforeUpload,
  clearForm,
  generateUniqueId,
} from "@/composables/useFeedbackModal";
import type { Feedbackitem } from "~/types";

type ValidationRules = Record<string, Rule | Rule[]>;

const props = defineProps({
  visible: Boolean,
});

const emit = defineEmits(["cancel", "sendForm"]);

const form = ref<Feedbackitem>({
  name: "",
  email: "",
  city: "",
  phone: "",
  message: "",
  type: "",
  file: [],
  id: null,
});

const types = ref([
  {
    label: "Отзывы и предложения",
    value: "1",
  },
  {
    label: "Вопрос по контенту",
    value: "2",
  },
  {
    label: "Неточность в описании товара",
    value: "3",
  },
  {
    label: "Обмен и возврат",
    value: "4",
  },
  {
    label: "Вопрос по контенту",
    value: "5",
  },
  {
    label: "Вопрос по контенту",
    value: "6",
  },
]);

const formRules: ValidationRules = {
  name: vvRequired,
  city: vvRequired,
  phone: vvPhone,
  message: vvRequired,
  type: vvRequired,
  email: vvEmail,
};

const PRIVACY_POLICY_LINK = "#";
const isTermsAccepted = ref(false);

function handleDrop(e: DragEvent) {
  console.log(e);
}

const sendFormFeedback = () => {
  form.value = cleanForm(form.value);
  form.value.id = generateUniqueId();
  emit("sendForm");
  form.value = clearForm(form.value);
};

const handleCancel = () => {
  emit("cancel");
};

watch(
  () => form.value.phone,
  (value) => {
    if (value) {
      form.value.phone = formatPhoneNumber(value);
    }
  }
);
</script>

<style scoped lang="scss">
@import "~/assets/scss/variables.scss";
textarea {
  resize: none;
}
.form {
  input::placeholder {
    font-size: 14px;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
      width: 100%;
      max-width: 185px;
      height: 48px;
      font-weight: 500;
    }
  }
  &__item {
    width: 100%;
    margin-bottom: 16px;
  }

  &__accept {
    font-size: 14px;
    color: $secondary-color;
    .link {
      color: $primary-color;
    }
    .grey-light {
      margin-bottom: 0;
      color: $secondary-color;
    }
    .grey-dark {
      color: $text-color-gray;
    }
  }
}
</style>

<style lang="scss">
@import "~/assets/scss/variables.scss";
.form {
  .ant-upload-drag {
    background: white;
    border: 1px dashed $primary-color;
  }
  .ant-select-item-option-active {
    background-color: rgba(0, 0, 0, 1) !important;
  }
}
</style>
