<template>
  <AModal
    :visible="visible"
    :closable="false"
    :footer="null"
    class="thanks-modal"
    width="400px"
    @cancel="handleCancel"
  >
    <div class="modal__header">
      <button class="modal__close" @click="handleCancel">
        <Icon name="material-symbols-light:close" size="28" />
      </button>
    </div>
    <p class="modal__title">Спасибо за ваш вопрос</p>
    <p class="modal__description">
      Мы обязательно откликнемся на ваш вопрос в ближайшее время
    </p>
  </AModal>
</template>

<script setup lang="ts">
const props = defineProps({
  visible: Boolean,
});

const emit = defineEmits(["cancel"]);

const handleCancel = () => {
  emit("cancel");
};
</script>

<style scoped lang="scss">
@import "~/assets/scss/variables.scss";
.thanks-modal {
}
</style>
