<template>
  <div class="feedback-card">
    <h2 class="feedback-card__title">Заявка № {{ form.id }}</h2>
    <div class="feedback-card__info">
      <p><strong>Имя:</strong> {{ form.name }}</p>
      <p><strong>Email:</strong> {{ form.email }}</p>
      <p><strong>Город:</strong> {{ form.city }}</p>
      <p><strong>Телефон:</strong> {{ form.phone }}</p>
      <p><strong>Тип заявки:</strong> {{ form.type }}</p>
      <p><strong>Сообщение:</strong> {{ form.message }}</p>
      <p v-if="form.file.length">
        <strong>Приложенные файлы:</strong> {{ form.file.length }}
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { Feedbackitem } from "~/types";
const props = defineProps({
  form: Object as PropType<Feedbackitem>,
});
</script>
<style lang="scss">
.feedback-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 18px;
    margin-bottom: 12px;
  }

  &__info {
    p {
      margin: 4px 0;
      strong {
        color: #333;
      }
    }
  }
}
</style>
