<template>
  <AButton @click="openModal">Отправить заявку</AButton>
  <ClientOnly>
    <FeedbackModal
      :visible="visibleFeedback"
      @cancel="closeModalFeedback"
      @send-form="showModalThanks"
    />
    <ThanksModal :visible="visibleThanks" @cancel="closeModalThanks" />
  </ClientOnly>
</template>

<script setup lang="ts">
import FeedbackModal from "@/components/FeedbackModal.vue";
import ThanksModal from "@/components/ThanksModal.vue";

useSeoMeta({
  title: "Заявка на отправку формы",
  description: "Заявка на отправку формы",
});
const visibleFeedback = ref(false);
const visibleThanks = ref(false);

const openModal = () => {
  visibleFeedback.value = true;
};
const showModalThanks = () => {
  console.log("🚀 ~ file: index.vue:77 ~ showModalThanks ~ showModalThanks");
  visibleFeedback.value = false;
  visibleThanks.value = true;
};
const closeModalFeedback = () => {
  visibleFeedback.value = false;
};
const closeModalThanks = () => {
  visibleThanks.value = false;
};
</script>

<style scoped lang="scss">
.main__button {
}
</style>
