<template>
  <div class="feedbacks__loading" v-if="pending">Загрузка...</div>
  <template v-else>
    <h2 class="feedbacks__title">Заявки на обратную связь</h2>
    <div class="feedbacks__wrapper">
      <ClientOnly>
        <CardFeedback
          v-for="item in feedbackItems"
          :form="item"
          :key="item.id"
        />
      </ClientOnly>
    </div>
    <ClientOnly>
      <APagination
        :total="feedbacksStore.totalItems"
        :pageSize="feedbacksStore.pageSize"
        :current="feedbacksStore.getCurrentPage"
        @change="handlePageChange"
      />
    </ClientOnly>
  </template>
</template>

<script setup lang="ts">
import CardFeedback from "@/components/elements/CardFeedback.vue";
import { useFeedbackStore } from "@/store/feedback.store";
import type { Feedbackitem } from "~/types";

const feedbackItems = ref<Feedbackitem[]>([]);
const currentPage = ref(1);
const limit = ref(10);

const feedbacksStore = useFeedbackStore();
const fetchUrl = computed(
  () =>
    `/api/feedback?page=${feedbacksStore.currentPage}&limit=${feedbacksStore.pageSize}`
);

const { data, pending, status, refresh } = useFetch(fetchUrl);
// feedbackItems.value = data.value?.data as Feedbackitem[];

if (data.value) feedbacksStore.setTotalItems(data.value.total);

const handlePageChange = (page: number) => {
  feedbacksStore.setCurrentPage(page);
};

watch(data, (newData) => {
  feedbackItems.value = newData?.data as Feedbackitem[];
  if (newData.data) {
    feedbacksStore.setTotalItems(newData.total);
  }
});
</script>

<style lang="scss">
.feedbacks {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
    margin: 0 auto;
    max-width: 1200px;
  }
  &__title {
    text-align: center;
    margin-bottom: 32px;
  }
  &__loading {
    text-align: center;
    margin-bottom: 32px;
    font-size: 24px;
  }
}
</style>
